* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  color: #222;
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
  margin: 0px;
  line-height: 1.5;
  background-color: #D2D2D2;
}

a {
  color: white;
}

ul {
  list-style: none;
}

footer {
  background-color: #1f9bde;
  color: white;
  text-align: center;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  clear: both;
}

footer p {
  text-transform: uppercase;
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}

footer ul {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

footer ul li {
  margin: 0 8px;
}

footer ul li a {
  font-size: 1.4em;
  cursor: pointer;
}

hr {
  width: 33%;
  height: 2px;
  background-color: #2196F3;
  border: 0;
  text-align: center;
  margin: 20px auto;
  clear: both;
}

#mainTitle {
  text-align: center;
  font-size: 3em;
  text-shadow: 2px 2px black;
  color: white;
  width: fit-content;
  margin: auto;
  padding: 3px;
  text-decoration-style: solid;
  vertical-align: middle;
}

.intro-text {
  color: black;
  font-size: 2em;
  text-align: center;
}

.width-10 {
  width: 10%;
}

.width-15 {
  width: 15%;
}

.width-20 {
  width: 20%;
}

.width-70 {
  width: 70%;
}

.width-75 {
  width: 75%;
}

.width-80 {
  width: 80%;
}

.nav ul li {
  font-size: 1.4em !important;
  text-align: right;
  list-style-type: none;
  display: inline;
  padding: 0;
}

#mainNav.nav ul li:not(:first-child):before {
  color: white;
  content: " | ";
}

.nav ul li a:hover {
  text-decoration: underline;
  color: black !important;
}

.bg-cms {
  background-color: #1f9bde;
}

.bg-cms-light {
  background-color: #8bc7ea;
}

.text-cms-light{
  color: #8bc7ea;
}

.br-5{
  border-radius: 5px;
}

#mainNav {
  background-color: #FFF;
  height: 4em !important;
  padding-bottom: 0px !important;
  padding-right: 0 !important;
  position: relative;
}

#mainNav #containerDiv #logoCMS {
  height: 42px;
  width: 102px;
  transform: translateY(-10px);
  margin-right: 10px;
}

#navbarResponsive {
  min-height: 4.85em;
  transform: translateY(-0.65em);
  border-top-left-radius: 0;
  padding-right: 170px;
  border-bottom-left-radius: 15px;
}

#navbarResponsive:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: inherit;
    border-radius: inherit;
    transform-origin: bottom right;
    -ms-transform: skew(10deg, 0deg);
    -webkit-transform: skew(10deg, 0deg);
    transform: skew(10deg, 0deg);
}

#solicitarVisita {
  transform: translateY(-0.65em);
  height: 4.55em;
  width: 180px;
  border-bottom-left-radius: 15px;
  position: absolute;
  top: 0;
  right: 0;
}

#solicitarVisita:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: inherit;
    border-radius: inherit;
    transform-origin: bottom right;
    -ms-transform: skew(10deg, 0deg);
    -webkit-transform: skew(10deg, 0deg);
    transform: skew(10deg, 0deg);
}

#solicitarVisita p {
  font-size: 1.2em;
  position: absolute;
  bottom: -15px;
  right: 18px;
}

#secondaryNav {
  height: 90px;
  margin: 0 !important;
  padding: 0 !important;
}

#secondaryNavResponsive {
  display: flex;
  flex-direction: row;
  height: 80px;
  margin: 0px auto !important;
  width: 10%;
}

#secondaryNavResponsive ul li div {
  min-width: 140px;
  height: 80px;
  padding-top: 10px;
  text-align: center;
  transition: all .25s;
}

#secondaryNavResponsive ul li div a{
  text-decoration: none;
  cursor: pointer;
}

#secondaryNavResponsive ul li div img {
  /* transform: scaleX(0.65) scaleY(0.65); */
  height: 39px;
  padding-bottom: 12px;
}

#secondaryNavResponsive ul li div p {
  color: #1f9bde;
  font-size: 0.8em !important;
  padding: 0 8px;
}

#secondaryNavResponsive ul li div button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#secondaryNavResponsive ul li div button:active{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#secondaryNavResponsive ul li div.highlight-on-hover:hover {
  z-index: 999;
  background-color: white;
  box-shadow: 0 0 11px rgba(33, 33, 33, .5);
}

#carousel-photos{
  max-height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-area {
  background-position: center center;
  background-image: url('images/secondService.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}

.centered-container {
  margin: 0px auto;
  padding: 10px 16px;
}

.single-service {
  text-align: center;
  margin-bottom: 32px;
}

.single-service img {
  width: 80%;
  border-radius: 12px;
}

.single-service p {
  padding: 0 16px;
  margin: 0 34px;
  font-size: 0.8em;
}

h3.title {
  color: #131633;
  font-size: 1.5em;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}

#about {
  padding: 10px;
  margin-bottom: 20px;
}

#twoCols {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 120px;
  border: 3px solid #284EDA;
  border-radius: 50%;
}

.about-bio {
  font-size: 1.3em;
  width: 90%;
  max-width: 800px;
  line-height: 2;
  text-align: center;
}

/* #menuButton{
  position: absolute;
  top: 0px;
  right: 28px;
} */
@media (max-width: 768px) {
  #mainTitle {
    font-size: 3em;
  }

  #containerDiv {
    margin-right: 10px !important;
  }

  .intro-text {
    font-size: 1.4em;
  }

  #navbarResponsive {
    width: 50%;
    min-height: 0;
    border-top-left-radius: 20px;
    transform: translateY(-0.15em);
  }

  footer ul {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
  }

  footer ul li a {
    font-size: 36px;
  }
}
