* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  color: #222;
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: #D2D2D2;
}

a {
  color: white;
}

ul {
  list-style: none;
}

hr {
  width: 33%;
  height: 2px;
  background-color: #2196F3;
  border: 0;
  text-align: center;
  margin: 20px auto;
  clear: both;
}

#mainTitle {
  text-align: center;
  font-size: 3em;
  text-shadow: 2px 2px black;
  color: white;
  width: fit-content;
  margin: auto;
  padding: 3px;
  text-decoration-style: solid;
  vertical-align: middle;
}

.intro-text {
  color: black;
  font-size: 2em;
  text-align: center;
}

.width-10 {
  width: 10%;
}

.width-15 {
  width: 15%;
}

.width-20 {
  width: 20%;
}

.width-70 {
  width: 70%;
}

.width-75 {
  width: 75%;
}

.width-80 {
  width: 80%;
}

.bg-cms {
  background-color: #1f9bde;
}

.bg-cms-light {
  background-color: #8bc7ea;
}

.text-cms-light {
  color: #8bc7ea;
}

.br-5 {
  border-radius: 5px;
}

#mainNav {
  background-color: #FFF;
  padding-bottom: 0px !important;
  padding-right: 0 !important;
  position: relative;
  z-index: 999;
}

#mainNav #containerDiv #logoCMS {
  transform: translateY(-10px);
  margin-right: 10px;
  margin-top: 5px;
}

#navbarResponsive {
  min-height: 4.85em;
  transform: translateY(-0.65em);
  border-top-left-radius: 0;
  padding-right: 170px;
  border-bottom-left-radius: 15px;
}

#navbarResponsive:after {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: inherit;
  border-radius: inherit;
  transform-origin: bottom right;
  -ms-transform: skew(10deg, 0deg);
  -webkit-transform: skew(10deg, 0deg);
  transform: skew(10deg, 0deg);
}

#navbarResponsive ul li {
  font-size: 1.4em !important;
  text-align: right;
  list-style-type: none;
  display: inline;
  padding: 0;
}

#navbarResponsive ul li:not(:first-child):before {
  color: white;
  content: " | ";
}

#navbarResponsive ul li a:hover {
  text-decoration: underline;
  color: black !important;
}

#solicitarVisita {
  transform: translateY(-0.65em);
  height: 4.55em;
  width: 180px;
  border-bottom-left-radius: 15px;
  position: absolute;
  top: 0;
  right: 0;
}

#solicitarVisita:after {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: inherit;
  border-radius: inherit;
  transform-origin: bottom right;
  -ms-transform: skew(10deg, 0deg);
  -webkit-transform: skew(10deg, 0deg);
  transform: skew(10deg, 0deg);
}

#solicitarVisita p {
  font-size: 1.2em;
  position: absolute;
  bottom: -0.8em;
  right: 1em;
}

#secondaryNav {
  position: relative;
  z-index: 998;
}

#navbarSupportedContent ul li div {
  min-width: 140px;
  text-align: center;
  padding-top: 0.2em;
  transition: all .25s;
  transform: translateY(0.5em);
}

#navbarSupportedContent ul li a {
  text-decoration: none;
  cursor: pointer;
}


#navbarSupportedContent ul li div p {
  color: #1f9bde;
  font-size: 0.9em !important;
  padding: 0 0.6em;
}

#navbarSupportedContent ul li div button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#navbarSupportedContent ul li div button:active {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#navbarSupportedContent ul li div.highlight-on-hover:hover {
  background-color: white;
  box-shadow: 0 0 0.9em rgba(33, 33, 33, .5);
}

#carousel-photos {
  max-height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.specialty-name {
  border-top: 1px solid cadetblue;
  border-bottom: 1px solid cadetblue;
  background: rgba(139, 199, 234, 0.3);
  font-weight: bold;
}

.specialty-doctor::before {
  content: "· ";
  padding-left: 1em;
}

#body-wrapper {
  position: relative;
  z-index: 9;
}

#body-wrapper #block-collaboration-cliniques {
  position: absolute;
  bottom: 0;
  right: 1em;
  width: 18em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: all ease-in-out 0.5s;
  z-index: 9;
  text-align: center;
}

#body-wrapper #block-collaboration-cliniques #collaboration-cliniques-title {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  height: 2em;
  font-size: 1.3em;
  padding-top: 1em;
}

#body-wrapper #block-collaboration-cliniques #collaboration-cliniques-separator {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
}

#body-wrapper #block-collaboration-cliniques #collaboration-cliniques-images {
  position: relative;
  bottom: 0;
  height: 0;
  transform: scaleY(0);
  opacity: 0;
  transition: opacity 0.2s ease-in-out, transform 0s ease-in-out 0.2s, height 0.2s ease-in-out 0.2s;
}

#body-wrapper #block-collaboration-cliniques #collaboration-cliniques-images img {
  margin: 1em 0;
}

#body-wrapper #block-collaboration-cliniques:hover #collaboration-cliniques-images {
  height: 15.7em;
  transform: scaleY(1);
  opacity: 1;
  transition: height 0.2s ease-in-out, transform 0s ease-in-out, opacity 0.2s ease-in-out 0.2s;
}

footer {
  background-color: #1f9bde;
  color: white;
  text-align: center;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  clear: both;
  z-index: 10;
}

footer p {
  text-transform: uppercase;
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}

footer ul {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

footer ul li {
  margin: 0 8px;
}

footer a {
  font-size: 1.2em;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

footer a:hover {
  color: black;
  transform: scale(1.2);
}

@media (max-width: 991px) {
  #mainTitle {
    font-size: 3em;
  }

  .intro-text {
    font-size: 1.4em;
  }

  #secondary-nav {
    min-height: 0;
  }

  #secondaryNavResponsive {
    width: 100%;
    min-height: 0;
    padding-right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: transparent;
  }

  #navbarResponsive {
    width: 100%;
    min-height: 0;
    padding-right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: transparent;
  }

  #navbarResponsive ul li a {
    color: #8bc7ea;
    text-decoration: none;
  }

  #navbarResponsive:after {
    content: "";
    position: absolute;
    display: none;
  }

  #navbarResponsive ul li:not(:first-child):before {
    color: white;
    content: "";
  }

  footer ul {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
  }

  footer ul li a {
    font-size: 36px;
  }
}